body{
    padding: 0;
    margin: 0;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", serif;
    color: white;
}

button{
    background: #10B981;
    color: white;
    border-radius: 5px;
}

h1{
    font-weight: 800;
    font-size: 40px;
    margin-top: 0;
}


.main-section{
    width: 550px;
    height: 550px;
    background: #1F2937;
    
    display: flex;
    justify-content: center;
}

.main-section-wrapper{
    height: 100%;
    width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*main section HEADER */
.main-section-wrapper-header{
    border-bottom: 1px solid white;
}

#header-highlightWord{
    color: #10B981;
}

#header-subtitle{
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

/* main section SETTINGS*/
.main-section-wrapper-settings{
    border-bottom: 1px solid white;
    text-align: center;
}

.settings-input{
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-checkboxes{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.settings-alert-message{
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: red;
    visibility: hidden;
}

#generate-btn{
    padding: 10px 15px;
    margin: 30px 0; 
    cursor: pointer;
}


/* main section PASSWORDS*/
.main-section-wrapper-passwords{
    display: flex;
    justify-content: space-evenly;
}

.passwords-container {
    width: 195px;
    background: #273549;
    padding: 5px 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.passwords-container img{
    width: 20px;
}

.passwords-result{
    width: 90%;
    color:#10B981;
}

.passwords-copy-btn{
    cursor: pointer;
}

.copy-text-one, .copy-text-two{
    position: relative;
    color:white;
    top: -40px;
    left: 50px;
    background: #10B981;
	padding: 2px 10px;
	border-radius: 20px;
	font-size: 15px;
    visibility: hidden;
}


